<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC01:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC01_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="module" name="spring-aop-4.0.0.RELEASE" module-name="SpringMVC01" />
          <element id="library" level="module" name="jstl" module-name="SpringMVC01" />
          <element id="file-copy" path="$PROJECT_DIR$/SpringMVC01/web/WEB-INF/lib/spring-beans-5.2.3.RELEASE.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>