<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC02_CRUD:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC02_CRUD_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC02_CRUD/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC02_CRUD" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>