<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 目标对象 -->
    <bean id="arithmeticCalculatorImpl" class="com.zyj.spring.aspectJ.xml.ArithmeticCalculatorImpl"></bean>

    <!-- 切面 -->
    <bean id="loggingAspect" class="com.zyj.spring.aspectJ.xml.LoggingAspect"></bean>
    <bean id="validationAspect" class="com.zyj.spring.aspectJ.xml.ValidationAspect"></bean>

    <!-- AOP 切面 通知 切入点表达式-->
    <aop:config>
        <!-- 切面 -->
        <aop:aspect ref="loggingAspect" order="2">
            <!-- 切入点表达式 -->
            <aop:pointcut id="myPointCut" expression="execution(* com.zyj.spring.aspectJ.xml.*.*(..))"/>
            <!-- 通知 -->
            <aop:before method="beforeMethod" pointcut-ref="myPointCut"/>
            <aop:after method="afterMethod" pointcut-ref="myPointCut"/>
            <aop:after-returning method="afterReturnMethod" pointcut-ref="myPointCut" returning="result"/>
            <aop:after-throwing method="afterThrowingMethod" pointcut-ref="myPointCut" throwing="ex"/>

<!--            <aop:around method="aroundMethod" pointcut-ref="myPointCut"/>-->
        </aop:aspect>

        <aop:aspect ref="validationAspect" order="1">
            <aop:before method="beforeMethod" pointcut-ref="myPointCut"/>
        </aop:aspect>
        
    </aop:config>
</beans>